<h1 class="text-center mt-4"><%= @user.username %>´s profile</h1>

<%= gravatar_for @user, size: 200 %>

<%= link_to "Edit your profile", edit_user_path(@user), class: "container mt-3 w-25 p-2 d-flex justify-content-center btn btn-outline-secondary" %>

<h3 class="text-center mt-4">Articles</h3>

<div class="container d-flex justify-content-center mt-4 mb-4">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<% if @user.articles.blank? %>
<div class="container d-flex justify-content-center mt-4">
  <h1>Has no articles</h1>
</div>
<% else %>
<%= render 'articles/article' %>
<% end %>

<div class="container d-flex justify-content-center mt-4 mb-4">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>